<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>body{font-family:"Georgia","Bitstream Charter",serif;margin:40px auto;max-width:650px;line-height:1.6;font-size:1.2em;color:#222;padding:0 10px} h1,h2,h3{line-height:1.2} code{font-size:0.75em;display:block;background-color:#333;color:#EEE;overflow:scroll;padding:3px} img{max-width:100%} article,footer{border-top:dashed;border-width:1px;border-color:#000;} article{margin-bottom: 50px} article footer{font-size:0.87em;font-style:italic}p.caption{font-size:0.8em}a{color:#222}</style>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {title}" href="/feed.xml" />
    <title>{title}</title>
</head>
<body class="{page_type}">
    <header>
        <h1><a href="/">Jelle's corner</a></h1>
        <a href="/feed.xml" class="rss">RSS</a>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="/pages/music.html">Music</a></li>
            <li><a href="/pages/about.html">About me</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </nav>
    <main>
