html, body {
    font-family: monospace;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #777;
    background-color: #EEE;
}

a {
    color: #777;
    text-decoration: none;
    border-bottom: dotted 1px #999;
}

br.clearfix {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
}

/* --- Main --- */
main {
   position: relative;
   margin: 0 auto;
   width: 700px;
   text-align: left;
   padding-bottom: 30px;
}

/* --- Header --- */
header {
    min-height: 40px;
    width: auto;
    clear: both;
    padding: 0px 10px 0px 10px;
    border-bottom: solid 1px #CCC;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55ff55+0,ffff55+50,ff5555+92 */
    background: #55ff55; /* Old browsers */
    background: -moz-linear-gradient(left, #55ff55 0%, #ffff55 50%, #ff5555 92%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#55ff55), color-stop(50%,#ffff55), color-stop(92%,#ff5555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #55ff55 0%,#ffff55 50%,#ff5555 92%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #55ff55 0%,#ffff55 50%,#ff5555 92%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #55ff55 0%,#ffff55 50%,#ff5555 92%); /* IE10+ */
    background: linear-gradient(to right, #55ff55 0%,#ffff55 50%,#ff5555 92%); /* W3C */
}

header h1 {
    float: left;
    line-height: 40px;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-weight: normal;
}

header a.rss {
    float: right;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    border-bottom: none;
    color: #333;
}

header h1 a {
    border-bottom: none;
    color: #333;
}

/* --- Footer --- */
footer {
    width: auto;
    padding: 0px 10px 0px 10px;
}

footer div.copyright {
    float: left;
    font-size: 13px;
}

footer div.hasclunk {
    float: right;
    font-size: 13px;
}

/* --- Navigation --- */
nav ul {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    clear: both;
}

nav li {
    margin-right: 10px;
    display: inline;
    line-height: 40px;
}

nav li a {
    font-size: 24px;
    border-bottom: none;
}

/* --- Article --- */
article {
    background-color: #FFF;
    border: solid 1px #CCC;
    margin-top: 30px;
    text-align: left;
}

article h1:first-child {
    margin-top: 0px;
    padding-top: 0px;
}

article section {
    padding: 30px;
}

article header {
    width: auto;
    height: auto;
}

article header, article footer {
    background: #55ff55;
}

article header h1 {
    text-align: left;
}

article header::after {
    clear: both;
    width: 100%;
    height: 0px;
    content: "";
    display: block;
}

article footer::after {
    clear: both;
    height: 0px;
    content: "";
    display: block;
}

article footer ul {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}

article footer li {
    display: inline;
    margin-right: 10px;
    line-height: 40px;
}

article footer li a {
    color: #000;
}

article span.filed {
    color: #000;
}

article header time {
    float: right;
    display: block;
    line-height: 40px;
    color: #000;
}

article.categories ul, article.archive ul {
    margin-top: 0px;
}

article.categories li, article.archive li {
    margin-bottom: 10px;
}

article.archive h2:first-child {
    margin-top: 0px;
}

article a.readmore {
    clear: both;
}

/* --- Mobile -- */
@media screen and (max-width: 700px) {
    a.rss {
        display: none;
    }
    
    nav li a {
        font-size: 18px;
        border-bottom: none;
    }

    article section {
        padding: 10px;
    }

    article img {
        max-width: 100%
    }

    footer div.copyright {
        float: left;
        clear: both;
        font-size: 13px;
    }

    footer div.hasclunk {
        float: left;
        clear: both;
        font-size: 13px;
        text-align: left;
    }

    main {
        width: 100%;
    }
}

img.jelle {
    margin-top: 10px;
    border: solid 5px #000;
}
